.main-content {
    width: 60%;
    background-color: white;

    .tab-container {
        height: 4em;
        box-shadow: 2px 0 8px rgba(0, 0, 0, 0.15);

        a.tab-logon {
            height: 100%;

            img {
                height: 100%;
                max-height: 100%;
            }
        }
    }

    .sub-content {
        min-height: 800px;
        position: relative;
        overflow: hidden;

        .home-content {
            img {
                width: 100%;
            }

            .news-header-title {
                text-align: center;
            }
        }

        .shop-content {
            width: 100%;
            display: flex;

            .ant-drawer-content-wrapper {
                position: absolute;

                .ant-drawer-wrapper-body {
                    overflow: hidden !important;
                }
            }

            .menu {
                padding-right: .5em;

                .expend-button {
                    width: 100%;
                    height: auto;
                    text-align: center;
                    padding: .5em;
                    padding-right: 0;

                    button {
                        font-size: 2em;
                        border: none;
                        box-shadow: none;
                        height: 100%;
                    }
                }

                ul {
                    border-right: none !important;
                }
            }

            .shop-content-right {

                order: 1;
                flex-grow: 1;
                background: #339979;

            }
        }
    }
}